.user-table {
    border-collapse: collapse;
    width: 100%;
}

.user-table td, .user-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.user-table tr:nth-child(even){background-color: #DDE6ED;}
.user-table tr:nth-child(odd){background-color: white;}

.user-table tr:hover {
    background-color: #9DB2BF;
}

.user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(39, 55, 77);
    color: white;
}